<h1>Lab Members</h1>
<% @users.each do |user|%>
	<div class="member-box">
	<div class="row">
		<div class="col-xs-4">
			<%= image_tag("avatar.png", :alt => "Profile Image", class: "img thumbnail") %>
		</div>
		<div class="col-xs-8">
		<% if user.full_name? %>
			<h1> <%= link_to user.full_name, user %></h1>
		<% else %>
			<h1> <%= link_to user.username.titleize, user %> </h1>
		<% end %>
			<h4>Biography</h4>
			<p> <%= user.biography %></p>
		</div>
	</div>
	</div>
<% end %>