<% @welcome_text = "Welcome to P*Lab" %>
<% @slogan_text = "...where technology comes to life" %>

<% @posts.each do |post| %>
	<div class="post">
		<div class="post-header">
			<h2><%= link_to post.title, post %></h2>
			<small>Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.username.titleize, post.user %></small>
		</div>
		<p class="post-body">
			<%= truncate(post.body, length: 450) { link_to "read more", post } %>
		</p>
	</div>
<% end %>